.list-md.list-inset{
    border-radius: 30px;
    --background:rgb(225, 225, 225);


}
.lista ion-item{

    --background:rgb(225, 225, 225);

}

ion-button {
    // --box-shadow: 0 10px 20px 0 rgba(147, 152, 86, 0.365);
    margin: 5% 5%;
  }